{% extends "base.html" %}

{% block body %}

<script>
function popitup(url) {
	newwindow=window.open(url,'name','height=500px,width=700px');
	if (window.focus) {newwindow.focus()}
	return false;
}
</script>

<div class="ym-g50">
	{% ifequal PAG_TITLE "Conversation" %}
	<a href="{% url language_detect key=peer %}?page={{ chatmessages.number }}" onclick="return popitup('{% url language_detect key=peer %}?page={{ chatmessages.number }}')">Detect Language</a><br>
	{% endifequal %}
	<div style="background: red;">
	<h6><span style="color: white;">{{PAG_TITLE}}</span></h6>
	</div>
	<div class="ym-gbox">
	
		<form class="ym-form">

			{% for item in chatmessages.object_list %}


			{% ifequal item.key_from_me 0 %}
				<div class="ym-fbox-text" style="background: #e8ff99;">
					<div class="ym-gr">{{item.received_timestamp}}</div>
					<div class="ym-gl" align="left">
			{% else %}
				<div class="ym-fbox-text" style="background: #d1ffff;">
					<div class="ym-gl">{{item.received_timestamp}}</div>
					<div class="ym-gr" align="right">
			{% endifequal %}
			<h6>

			{% if item.media_url %}
				<a target="_new" href="{{item.media_url}}"><img src="{{STATIC_URL}}img/media.png" width="24px" height="24px" /></a>
			{% endif %}


			{% if item.longitude %}
				{% ifequal item.key_from_me 0 %}
					<a target="_new" href="https://maps.google.com/maps?q={{item.latitude}},+{{item.longitude}}+({{item.key_remote_jid}} / {{item.received_timestamp}})"><img src="{{STATIC_URL}}img/map.png" width=24px" height="24px" alt="{{item.latitude}},{{item.longitude}}"></a>
				{% else %}
					<a target="_new" href="https://maps.google.com/maps?q={{item.latitude}},+{{item.longitude}}+(Me / {{item.received_timestamp}})"><img src="{{STATIC_URL}}img/map.png" width=24px" height="24px" alt="{{item.latitude}},{{item.longitude}}"></a>
				{% endifequal %}
			{% endif %}


			<a href="{% url contact_profile key=item.key_remote_jid %}">{{item.display_name}}</a>
			{% if item.peer %}
			(<a href="{% url contact_profile key=item.peer_id %}">{{item.peer}}</a>)
			{% endif %}

			{% ifequal item.key_from_me 1 %}
				&lArr; Me
			{% endifequal %}

			</h6>

			<div>
				{% if item.img|length > 0 %}
					<img src="{{item.img}}"/>
				{% else %}
					{{item.data|default:"No data available"}}
				{% endif %}
			</div>
			</div>
			</div><br>

			{% endfor %}

		</form>
	<div>

</br>

    {% if chatmessages.has_previous %}
        <a href="?page={{ chatmessages.previous_page_number }}">&lt;&lt;</a>
    {% endif %}
    Page {{ chatmessages.number }} of {{ chatmessages.paginator.num_pages }}
    {% if chatmessages.has_next %}
        <a href="?page={{ chatmessages.next_page_number }}">&gt;&gt;</a>
    {% endif %}

</div>

{% endblock %}
