{% extends "base.html" %}

{% block head %}
{% ifequal contactslist.number 1 %} 
{% include "havewhatsappchart.html" %}
{% endifequal %}
{% endblock %}

{% block body %}

<div class="ym-g60">
	<div class="ym-gbox">
		<table class="bordertable" style="background: #e8ff99;">
			<thead>
				<tr>
					<th> Phone </th>
					<th> Display Name </th>
					<th> Status </th>
					<th> Messages </th>
				</tr>
			</thead>
			<tbody>
				{%  for item in contactslist.object_list %}
				<tr>
					<td>
					{% ifequal item.messages 0 %}
						{{item.number}}
					{% else %}
						<a href="{% url single_chat key=item.jid %}">{{item.number}}</a>
					{% endifequal %}
					</td>
					<td>{% ifequal item.is_whatsapp_user 1 %}<img src="{{STATIC_URL}}img/thumb.png" width="24px" height="24px" />{% endifequal %} {{item.display_name}}</td>
					<td>{{item.status}}</td>
					<td>{{item.messages}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<p></p>

    {% if contactslist.has_previous %}
        <a href="?page={{ contactslist.previous_page_number }}">&lt;&lt;</a>
    {% endif %}
    Page {{ contactslist.number }} of {{ contactslist.paginator.num_pages }}
    {% if contactslist.has_next %}
        <a href="?page={{ contactslist.next_page_number }}">&gt;&gt;</a>
    {% endif %}

</div>	

</div>	

{% endblock %}