{% extends "base.html" %}

{% block head %}
{% include "havewhatsappchart.html" %}
{% include "messagesfrom.html" %}
{% include "activitychart.html" %}
{% endblock %}

{% block body %}

<script type="text/javascript" src="{{STATIC_URL}}js/highcharts.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/modules/exporting.js"></script>

<div class="ym-g50">
	<table class="bordertable" style="background: #e8ff99;" >
		<thead>
			<tr>
				<th> Filename </th>
				<th> Size (Bytes) </th>
				<th> MD5 </th>
				<th> SHA1 </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{msgfile}}</td>
				<td>{{msgsize}}</td>
				<td>{{msgmd5}}</td>
				<td>{{msgsha1}}</td>
			</tr>
			<tr>
				<td>{{wafile}}</td>
				<td>{{wasize}}</td>
				<td>{{wamd5}}</td>
				<td>{{washa1}}</td>
			</tr>
		</tbody>
	</table>
</div>
<br/>

<div class="ym-g60">
	<div id="wa_activity" style="margin: 0 auto"></div>
	<table>
		<tr>
			<td><div id="whatsappusers" style="width: 500px; height: 200px; margin: 0 auto"></div></td>
			<td><div id="messagesfrom" style="width: 500px; height: 200px; margin: 0 auto"></div></td>
		</tr>
	</table>
</div>


<div class="ym-g60">
	<div style="background: red;">
	<h6><span style="color: white;">General Activity</span></h6>
	</div>
	<div class="ym-gbox">
	
		<form class="ym-form">
			<h6><i>Latest Contacted</i></h6>
			
			{% for peer in latest %}
			<div class="ym-gbox" align="left" style="background: #e8ff99;">
				<ul>
					<li>
						<b>{{peer.timestamp}}</b> / <a href="{% url single_chat key=peer.key_remote_jid %}">{{peer.display_name}}</a> : {% if peer.img|length > 0 %}<img src="{{peer.img}}"/>{% else %}{{peer.data}}{% endif %}
					</li>
				</ul>
			</div>
			{% endfor %}

			<h6><i>Top Contacted</i></h6>
			<div class="ym-gbox" align="left">
				<table class="bordertable" style="background: #e8ff99;">
					<thead align="center">
						<tr>
							<th> Phone </th>
							<th> Display Name </th>
							<th> Status </th>
							<th> Messages Count </th>
						</tr>
					</thead>
					<tbody>
						{%  for peer in toppeers %}
						<tr>
							<td>{{peer.number}}</td>
							<td><a href="{% url single_chat key=peer.jid %}">{{peer.display_name}}</a></td>
							<td>{{peer.status}}</td>
							<td>{{peer.msgs}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</form>
	<div>
</div>

{% endblock %}