{% extends "base.html" %}

{% block body %}

<div class="ym-g80">
<form class="ym-form" action="" method="post">
    {% csrf_token %}
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Search" /></p>
</form>
</div>

{% endblock %}
